@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");

/* 
Figure out the responsive typography 
*/

:root {
}

body {
  margin: 0;
  padding: 0;
}

.h1 {
  text-align: center;
  font-family: "Righteous", cursive;
  margin: 0;
  padding: 0;
  font-size: clamp(64px, 4vw, 96px);
}

.p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: clamp(18px, 1.5vw, 28px);
}
