/* 
* I need to set an constant margin/seperator
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .home,
  .information,
  .projects,
  .contact {
    margin-left: 12.5vw;
    margin-right: 12.5vw;
  }

  .projects {
    margin-top: 10vw;
    padding-top: 10vh;
  }

  .information {
    margin-top: 10vw;
  }

  .contact {
    margin-top: 10vw;
  }

  .welcomeTitle {
    padding-top: 10vw;
    font-weight: 400;
    font-size: 9vw;
    text-align: center;
    margin: 0;
  }
  .welcomeSubtitle {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .icon_container {
    display: flex;
    justify-content: space-evenly;
  }
  .subheadingWrapper {
    display: flex;
    justify-content: space-between;
  }

  #projectSubtitle {
    font-size: 2.5vw;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    color: #1b1b1b;
  }

  #contactSubtitle,
  #contactSubtitle_email,
  #contactSubtitle_linkedin {
    color: #1b1b1b;
    font-size: 2.5vw;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }

  #contactSubtitle {
    padding-bottom: 1vw;
  }

  #contactSubtitle_linkedin {
    margin-top: 2vw;
  }

  .yellowbody {
    background-color: #c7bd68;
    padding-bottom: 20vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home,
  .information,
  .projects,
  .contact {
    margin-left: 12.5vw;
    margin-right: 12.5vw;
  }

  .projects {
    margin-top: 10vw;
    padding-top: 10vh;
  }

  .information {
    margin-top: 10vw;
  }

  .contact {
    margin-top: 10vw;
  }

  .welcomeTitle {
    padding-top: 10vw;
    font-weight: 400;
    font-size: 7vw;
    text-align: center;
    margin: 0;
  }
  .welcomeSubtitle {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .icon_container {
    display: flex;
    justify-content: space-evenly;
  }
  .subheadingWrapper {
    display: flex;
    justify-content: space-between;
  }

  #projectSubtitle {
    font-size: 1.5vw;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    color: #1b1b1b;
  }

  #contactSubtitle,
  #contactSubtitle_email,
  #contactSubtitle_linkedin {
    color: #1b1b1b;
    font-size: 1.5vw;
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
  }

  #contactSubtitle {
    padding-bottom: 1vw;
  }

  #contactSubtitle_linkedin {
    margin-top: 2vw;
  }

  .yellowbody {
    background-color: #c7bd68;
    padding-bottom: 20vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home,
  .information,
  .projects,
  .contact {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .projects {
    margin-top: 10vw;
    padding-top: 10vh;
  }

  .information {
    margin-top: 10vw;
  }

  .contact {
    margin-top: 10vw;
  }

  .welcomeTitle {
    padding-top: 10vw;
    font-weight: 400;
    font-size: 7vw;
    text-align: center;
    margin: 0;
  }
  .welcomeSubtitle {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .icon_container {
    display: flex;
    justify-content: space-evenly;
  }
  .subheadingWrapper {
    display: flex;
    justify-content: space-between;
  }

  #projectSubtitle {
    font-size: 1.5vw;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    color: #1b1b1b;
  }

  #contactSubtitle,
  #contactSubtitle_email,
  #contactSubtitle_linkedin {
    color: #1b1b1b;
    font-size: 1.5vw;
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
  }

  #contactSubtitle {
    padding-bottom: 1vw;
  }

  #contactSubtitle_linkedin {
    margin-top: 2vw;
  }

  .yellowbody {
    background-color: #c7bd68;
    padding-bottom: 10vw;
  }
}

/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home,
  .information,
  .projects,
  .contact {
    margin-left: 20vw;
    margin-right: 20vw;
  }

  .projects {
    margin-top: 10vw;
    padding-top: 10vh;
  }

  .information {
    margin-top: 10vw;
  }

  .contact {
    margin-top: 10vw;
  }

  .welcomeTitle {
    padding-top: 10vw;
    font-weight: 400;
    font-size: 7vw;
    text-align: center;
    margin: 0;
  }
  .welcomeSubtitle {
    padding: 0%;
  }

  .icon_container {
    display: flex;
    justify-content: space-evenly;
  }
  .subheadingWrapper {
    display: flex;
    justify-content: space-between;
  }

  #projectSubtitle {
    font-size: 1.25vw;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    color: #1b1b1b;
  }

  #contactSubtitle,
  #contactSubtitle_email,
  #contactSubtitle_linkedin {
    color: #1b1b1b;
    font-size: 1.25vw;
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
  }

  #contactSubtitle {
    padding: 1vw;
  }

  #contactSubtitle_linkedin {
    margin-top: 2vw;
  }

  .yellowbody {
    background-color: #c7bd68;
    padding-bottom: 10vw;
  }
}

#projectscontactfontcolor {
  color: #1b1b1b;
}
