/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .homelayout {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .homelayout {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .homelayout {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .homelayout {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .homelayout {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .home {
  }
}
