.background {
  background: radial-gradient(#2b798a, #51276b, #213c5c);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.left,
.right {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .background {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .background {
    display: flex;
    flex-direction: row;
    /* 
    TODO: based on the Figma design put the padding as such
    padding-left: 20vw;
    padding-right: 20vw; */
  }
}
