@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  .projectwrapper {
    padding-top: 2.5vh;
  }

  .projectcard {
    margin: 1vh;
    width: 50vh;
  }
}

.projectcard {
  transition: 200ms;
  background-color: #cfc66e;
}

.projectcard:hover {
  background-color: #e0d675;
}

.projectcard:active {
  background-color: antiquewhite;
}

.uiwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectwrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-around;
}

#projectHeading {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 1.25vw;
  color: #1b1b1b;
}

#projectSubheading {
  color: #1b1b1b;
  font-style: italic;
}
